.normal{
    background-color:#a6a877;
}
.grass{
    background-color:#77c850;
}
.fire{
    background-color:#ee7f30;
}
.water{
    background-color:#678fee;
}
.electric{
    background-color:#f7cf2e;
}
.ice{
    background-color:#98d5d7;
}
.ground{
    background-color:#dfbf69;
}
.flying{
    background-color:#a98ff0;
}
.poison{
    background-color:#a040a0;
}
.fighting{
    background-color:#bf3029;
}
.psychic{
    background-color:#f65687;
}
.dark{
    background-color:#725847;
}
.rock{
    background-color:#b8a137;
}
.bug{
    background-color:#a8b720;
}
.ghost{
    background-color:#6e5896;
}
.steel{
    background-color:#b9b7cf;
}
.dragon{
    background-color:#6f38f6;
}
.fairy{
    background-color:#f9aec7;
}

.content{
    padding: 1rem 0;
}

.action_bar{
    margin: 2rem 1.8rem 1rem 1.8rem;
    display: flex;
    justify-content: space-between;
}

.action_bar .icons{
    color: white;
}

.action_bar button{
    border: none;
    background: none;
}

.action_bar .icons:hover{
    color: #b8b4b4;
    font-size: 1.5rem;
    cursor: pointer;
}

.action_bar #like.notclicked i{
    color:pink;
    fill: pink;
} 

.action_bar #like.clicked i{
    color:red;
} 

.pokemon_header{
    margin:0 1.8rem;
}

.pokemon_header .identities{
    display: flex;
    justify-content: space-between;
}

.pokemon_header .name{
    text-transform: capitalize;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 0.25rem;
}

.pokemon_header .number{
    color: #fff;
    font-size: 1rem;
    align-self: flex-end;
}

.pokemon_header .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.2rem 0;
}

.pokemon_header .detail .types{
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon_header .detail .types .type{
    color: #fff;
    padding: .5rem 1rem;
    font-size: .825rem;
    margin-right: 0.40rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    display: inline-block;
}

.pokemon_image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -40px;
}

.pokemon_image .image{
    max-width: 100%;
    height: 250px;
}

.informations{
    padding: 2rem;
    background-color: #fff;
    border-radius: 2rem 2rem 0 0 / 1.5rem 1.5rem 0 0;
}

.informations .pokemon_fields{
    margin-bottom: 1.5rem;
    
}

.informations .pokemon_fields td{
    padding: 1rem 4rem 0 0;
}

.informations .pokemon_fields .title{
    text-align: left;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: 1px solid #7d7d7d;
}

.informations .pokemon_fields .data{
    text-transform: capitalize;
}

.informations .pokemon_fields .data_definition{
    color: #7d7d7d;

}

@media screen and (min-width: 576px) {
    .pokemon_image .image{
        height: 300px;
    }
    
    .informations .pokemon_fields {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .informations .pokemon_fields td{
        padding: 1rem 6rem 0 0;
    }

    .informations .pokemon_fields .title{
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
    body{
        background-color: #ecdfdf;
    }
    
    .action_bar .icons{
        font-size: 1.5rem;
    }

    .pokemon_image .image{
        height: 400px;
    }
    
    .content{
        margin: auto;
        border-radius: 0;
    }

    .pokemon_header .name{
        font-size: 2.5rem;
    }

    .pokemon_header .number{
        font-size: 2rem;
    }
    
}